.searchButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Search.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.searchButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Search.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.saveButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Save.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.saveButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Save.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.saveButtonCenter {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Save.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.saveButtonCenter:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Save.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.deleteButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Delete.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.deleteButton:hover {
    -fx-background-color: OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Delete.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.settingButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Setting.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.settingButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Setting.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.rightButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Right.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.rightButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Right.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.leftButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Left.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.leftButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Left.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.generalButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/General.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.generalButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/General.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.calculationButton {
    -fx-background-color:  #262626;
    -fx-background-image: url(/com/setting/icon/button/Commodity.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.calculationButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Commodity.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.palletButton {
    -fx-background-color:  #262626;
    -fx-background-image: url(/com/setting/icon/button/Pallet.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.palletButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Pallet.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.upButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Up.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.upButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Up.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.downButton {
    -fx-background-color:  #616161;
    -fx-background-image: url(/com/setting/icon/button/Down.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.downButton:hover {
    -fx-background-color:  OLIVE;
    -fx-background-image: url(/com/setting/icon/button/Down.png);
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.extruderButton{
	-fx-background-color:  #616161;
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.extruderButton:selected {
	 -fx-text-fill: OLIVE;
}

.extruderButton:hover{
	-fx-background-color:  OLIVE;
    -fx-background-size: 16.0px 16.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}

.menu-item .label {
    -fx-text-fill: #c0c080;
}

.context-menu {
  	-fx-background-color: #616161;
 }
 
 .menu-item:focused {
     -fx-background-color: #808000;
}

.menu-item:focused .label {
    -fx-text-fill: whitesmoke;
}

.menu-button > .arrow-button > .arrow {
      -fx-background-color: transparent;
}